# Configurações do banco
POSTGRES_PASSWORD=
POSTGRES_USER=postgres
POSTGRES_DB=buson
# Para rodar o server no container, utilize o nome do container do banco de dados no lugar de localhost
POSTGRES_HOST=postgres 
# POSTGRES_HOST=localhost 
POSTGRES_PORT=5432
PG_DIALECT=postgres
DATABASE_URL=postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DB

# Porta que irá utilizar para iniciar o back-end
SERVER_PORT=3000
# Configurações de Login
# JWT_SECRET - Gerar uma chave, comando: node -e "console.log(require('crypto').randomBytes(32).toString('hex'));"
JWT_SECRET=
# JWT_EXPIRATION e JWT_REFRESH_EXPIRATION - Define o tempo para expirar o token de acesso. 
# Utilizar sempre os valores em segundos
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=

OPENAI_API_KEY=
